<div class="container" style="max-width: 400px; margin: auto">

  <form autocomplete="on" #loginForm="ngForm">
    <div class="p-grid">

      <div class="p-col-12 p-fluid">
        <h1>Login</h1>
      </div>

      <div class="p-col-12 p-fluid">
        <input pInputText type="email" name="usuario" placeholder="E-mail"
          ngModel required #usuario>
      </div>
      <br>
      <div class="p-col-12 p-fluid">
        <input pInputText type="password" name="senha" placeholder="Senha"
          ngModel required #senha>
      </div>
      <br>
      <div class="p-col-12">
        <button (click)="login(usuario.value, senha.value)" pButton type="submit" label="Login" class="p-button-success"></button>
        <button [routerLink]="['cadastrar']"  pButton type="button" label="Criar conta" class="ml-3" style="background-color: black;"></button>
        <button [routerLink]="['perguntas']"  pButton type="button" label="Perguntas" class="ml-3 p-button-info"></button>
      </div>

    </div>
  </form>

</div>

<!-- h1>Toke: {{ auth.jwtPayload | json }}</h1 -->
